.product_content {
    margin: 0 0.5% 0 0.5%;
    min-height: 200px;
}

.loader {
    height: 100%;
    padding-top: 15%;
    position: fixed;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .75);
    z-index: 99999;
    display: none;
}

.loader .load-icon{
    /* colors */
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;

    /* Settings */
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    top: calc(50% - 120px);
    left: calc(50% - 120px);
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dataTables_processing {
    background: rgba(0, 0, 0, 0) !important;
}

#modelContent {
    min-height: 500px;
}

.table-striped > tbody > .danger > th {
    background-color: #f2dede !important;
}

.history {
    padding: 10px;
    max-height: 110px;
    overflow-y: scroll;
}

.history li {
    cursor:pointer;
    list-style: none;
}

@media only screen and (min-width: 800px) {
    .center-content {
        position: absolute;
        width: 28%;
        top: 21%;
        left:34%;
    }
}

@media only screen and (max-width: 800px) {
    .center-content {
        position: absolute;
        width: 70%;
        top: 21%;
        left:15%;
    }
}

.center-content h1  {
    margin: 15px;
}

.vertical-align {
    align-content: center;
}
.vertical-align td{
    text-align: center;
    vertical-align: middle;
}

#ResultsIcon {
    text-align: center;
    margin: 30px;
}

#ResultsIcon i {
    font-size: 200px;
    color: #1ABB9C;
}

.table-responsive {
    min-height: 60px;
}

.left-space {
    margin-left: 5px;
}

.image-preview {
    max-width: 500px;
    max-height: 300px;
}

.image-preview-md {
    max-width: 150px;
    max-height: 150px;
}

.image-container {
    margin-top: 15px;
    height: 320px;
}

.image-container > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.image-small {
    max-height: 70px;
    max-width: 100px;
}

.btn-xl {
    width: 100%;
}

.relative-center {
    margin-left: auto;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    min-height: 50px;
    max-height: 400px;
    border-radius: 1px;
    font-weight: 800;
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
}

.card-head {
    background-color: #2196F3;
    color: #fff;
    padding: 10px;
    padding-top: 16px;
    font-size: 25px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    padding: 10px;
    background-color: #fff;
}

.card-body ul {
    margin-left: -25px;
}

ul {
    list-style-type: none;
}

.nav-sm .container.body .col-md-3.left_col  {
    z-index: 10;
}